.navbar{
    position: fixed;
    top: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
    padding: 5px;
}

.img{
    width: 300px;
}
.title{
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: 400;
    font-size: 150%;
}
.text{
    position: relative;
    top: 80;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 540px) {
/* viewport width가 540px 이하 일 때 */
.header {
    height: 50px;
}

.main {
    flex-direction: column-reverse;
}

.aside {
    width: 100%;
    height: 50px;
}
.section {
    width: 100%;
    height: 50px;
}
.footer {
    height: 50px;
}
}
@media screen and (min-width: 541) and (max-width: 960px){
/* 화면 너비가 481px ~ 768px */
.header {
    height: 150px;
}

.main {
    flex-direction: column;
}

.aside {
    display: none;
}
}
@media (max-width: 960px){
/* 화면 너비가 481px ~ 768px */
.header {
    height: 800px;
}

.main {
    flex-direction: column;
}

.aside {
    display: none;
}
}

/* 가로 모드 */
@media screen and (orientation: landscape) {

}
/* 세로 모드 */
@media screen and (orientation: portrait) {
body {
    background-color: lightpink;
}
.navbar{
    position: fixed;
    top: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
    padding: 5px;
}
}